<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="As2Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="As2Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<section name="system.diagnostics" type="System.Diagnostics.DiagnosticsConfigurationHandler"/>
	</configSections>
	<connectionStrings />
	<userSettings>
		<As2Test.Properties.Settings>
			<setting name="x12FileName" serializeAs="String">
				<value>C:\EDI</value>
			</setting>
			<setting name="keyStoreFile" serializeAs="String">
				<value>xxxx</value>
			</setting>
			<setting name="sqlSever" serializeAs="String">
				<value>server=(local);user id=sa;password=2205;initial catalog=as2</value>
			</setting>
			<setting name="sender" serializeAs="String">
				<value />
			</setting>
			<setting name="receiver" serializeAs="String">
				<value />
			</setting>
			<setting name="XPathToPartnerByName" serializeAs="String">
				<value>//partner[@name=$'{txtPartnerName.Text}']</value>
			</setting>
			<setting name="partnerNodeSelecter" serializeAs="String">
				<value>name</value>
			</setting>
			<setting name="parntershipNodeSelector" serializeAs="String">
				<value>name</value>
			</setting>
			<setting name="configPath" serializeAs="String">
				<value>C:\_ECLIPSE_WS\OpenAs2App\Server\target\dist\config></value>
			</setting>

		</As2Test.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<As2Test.Properties.Settings>
			<setting name="ServiceName" serializeAs="String">
				<value>OpenAS2Server</value>
			</setting>
			<setting name="configFilename" serializeAs="String">
				<value>config\config.xml</value>
			</setting>
			<setting name="CertStorePassword" serializeAs="String">
				<value>testas2</value>
			</setting>

		</As2Test.Properties.Settings>
	</applicationSettings>
	<system.diagnostics>
		<trace autoflush="false" indentsize="4">
			<listeners>
				<!--	<add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" /> -->
				<!--	<remove name="Default" /> -->
				<add name="myListner" type="System.Diagnostics.ConsoleTraceListener" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>